body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

/* HERO */
.hero-section {
  height: 100vh;
  background: linear-gradient(135deg, #001f3f, #ff0000);
  padding-top: 80px;
}

.profile-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 5px solid #ffc107;
}

/* ABOUT */
#about {
  background-color: #f8f9fa;
}

/* CERTIFICATES */
#certificates .card {
  transition: transform 0.3s ease;
}

#certificates .card:hover {
  transform: translateY(-10px);
}

/* FOOTER */
footer {
  letter-spacing: 1px;
}